* {
  box-sizing: border-box;
}

/*---- Header ----*/

.main-wrapper {
	display: flex;
}

.main-content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main-header{
	background: #755AAF;
	overflow: hidden;
	padding: 5px 10px;
	z-index: 2;
	width: 100%;
}

.clearfix {
  overflow: auto;
}

.header-your,
.header-app {
	color: #fff;
	float: left;
	padding: 15px 0px 10px 0px;
	text-align: center;
	z-index: 2;
}

.header-app {
	font-family: 'Poiret One', sans-serif;
}

.tm-header {
	font-size: 8px;
}

.header-avatar {
	float: right;
	padding: 10px;
	width: 130px;
	border-left: 2px solid #3e4374;
}

.name-header {
	float: right;
	padding-top: 7px;
	color: #fff;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.bell-container {
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
}

.profile-image {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-right: 5px;
	padding-top: 2px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*---- Sidebar Navigation ----*/

.sidebar {
	background: #535997;
}

.nav-sidebar {
	width: 60px;
	margin-top: 20px;
	margin-left: 15px;
}

nav img {
	margin: 0 10px 25px 10px;
	width: 25px;
	height: 25px;
}

/*---- Header Icons ----*/

.bell {
	width: 17px;
	height: 17px;
	margin-top: 16px;
}

.bell-circle {
	border-radius: 50%;
	width:5px;
	height:5px;
	float: right;
	margin-top: 10px;
	margin-right: 25px;
	background-color: #61ED66;
}


/*---- Dashboard Search ----*/
.dashboard {
	float: left;
	margin: 0 10px 0 0;
	font-size: .8em;
	color: grey;
}

h2 {
	margin-left: 5px;
}

.dashboard-nav {
	height: 100px;
	display: flex;
	flex-direction: row;
}

#searchbox-form {
	float: right;
	height: 50px;
	width: 90%;
  padding: 10px 0px 10px 20px;
	background: #f4f7f8;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
}

#search-nav {
	float: right;
	margin-right: 10px;
	border-radius: 5px;
}

.alert {
  border: 1px solid #3e4374;
	margin-left: 10px;
	margin-right: 10px;
  background-color: #755AAF;
  color: #fff;
  height: 30px;
  border-radius: 5px;
	line-height: 30px;
}

.text-alert {
  padding-left: 5px;
}

.text-welcome {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-left: 5px;
}

.closebtn {
  float: right;
  padding-right: 5px;
}

/*---- Traffic Dashboard Chart ----*/

.traffic-container {
  max-width: 100%;
}

.chart-title {
	padding-top: 20px;
	padding-bottom: 10px;
	float: left;
	font-size: .5em;
	color: grey;
}

#lineChart {
  border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}

.traffic-container ul {
	padding-left: 0;
}

.traffic-container li {
  list-style-type: none;
  text-align: center;
}

.traffic-container a {
	font-size: 15px;
  padding: 10px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: grey;
}

.traffic-container a:hover {
	cursor: pointer;
	color: white;
  background-color: #14B897;
	border-radius: 10px;
	opacity: .7;
	transition: .5s ease;
}

/*---- DAILY TRAFFIC CHART ----*/

.container-daily {
	max-width: 100%;
	margin-left: 10px;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
}

/*---- MOBILE CHART ----*/

.container-mobile {
	max-width: 100%;
	justify-content: center;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}

.container-flex {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

/*---- SOCIAL STATS ----*/

.container-social {
	max-width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}

.twitter-container {
	margin-left: 10px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
}

.twitter-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.twitter-svg-container {
	width: 60px;
	height: 60px;
	background-color: #755AAF;
	border-radius: 50%;
}

.twitter-logo {
	width: 30px;
	height: 30px;
	fill: #fff;
	margin-top: 20px;
}

.twitter-stats {
	float: right;
	padding-right: 40px;
}

h3 {
	font-size: .8em;
	margin: 0 auto;
	margin-top: 30px;
	color: #535997;
}

.twitter-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

.facebook-container {
	margin-left: 10px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
}

.facebook-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.facebook-svg-container {
	width: 60px;
	height: 60px;
	background-color: #755AAF;
	border-radius: 50%;
}

.facebook-logo {
	fill: #fff;
}

.facebook-stats {
	float: right;
	padding-right: 50px;
}

.facebook-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

.google-container {
	margin-left: 10px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
}

.google-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.google-svg-container {
	width: 60px;
	height: 60px;
	background-color: #755AAF;
	border-radius: 50%;
}

.google-logo {
	width: 30px;
	height: 30px;
	fill: #fff;
	margin-top: 15px;
}

.google-stats {
	float: right;
	padding-right: 50px;
}

#members-header {
	float: left;
	font-size: .8em;
	margin: 0 auto;
	margin-top: 30px;
	color: #535997;
}

.google-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

/*---- New Members and Recent Activity ----*/

.new-members {	
	max-width: 100%;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	font-weight: lighter;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
}

.recent-activity {
	max-width: 100%;
	padding-left: 10px;
	border-bottom: 1px solid lightgrey;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;

}

.member-div,
.activity-div {
	margin: 0 10px 10px 0;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px solid lightgrey;
}

.member-div-last {
	margin: 0 10px 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	border-bottom: none;
}

.activity-div-last {
	margin: 0 10px 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	border-bottom: none;
}

.profile-info {
	display: flex;
}

.contact-info {
	padding-top: 5px;

}

.pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

#members-text,
#activity-text {
	margin: 20px 0 20px 0;
	text-align: left;
	font-weight: lighter;
	font-size: .8em;
	color: #755AAF;
}

.date {
	font-size: .8em;
	color: grey;
}

.name {
	text-align: left;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	color: grey;
}

.email {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	color: #755AAF;
}

.comment {
	text-align: left;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	color: grey;
}

.time {
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	margin: 0 auto;
}

img .chevron {
	fill: #535997; 
}

/*---- Message Search Form ----*/

.message-settings-flex {
	display: flex;
	flex-direction: column;
}

.message-div {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: .8em;
	border-right: 1px solid lightgrey;
	text-align: center;
	
}

#message-form {
	margin: 10px auto;
	background: #fff;
}

#search-name {
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: #f4f7f8;
}

.message-user {
	margin: 20px 0 20px 10px;
	font-size: .9em;
	font-family: 'Montserrat', sans-serif;
	color: #755AAF;
	text-align: left;
}

button {
  padding: 19px 39px 35px 39px;
  color: #FFF;
  background-color: #755AAF;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
	width: 300px;
	height: 50px;
  border: 1px solid #755AAF;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  opacity: 1;
  transition: 1s;
}

textarea {
	border-radius: 5px;
	width: 300px;
	height: 150px;
	background-color: #f4f7f8;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}

.settings-div {
	width: 100%;	
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: .8em;
	border-right: 1px solid lightgrey;
	text-align: center;
}

/*---- Settings Form ----*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.settings-activity {
	text-align: left;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.switch-div {
	display: inline;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*---- Media ----*/

 @media (min-width: 768px) {
	.traffic-container ul {
		list-style-type: none;
		float: right;
		padding-right: 5px;
	}
	.container-daily {
		width: 50%;
		border-bottom: none;
	}
	.container-mobile {
		width: 50%;
		border-left: 1px solid lightgrey;
		border-bottom: none;
	}
	.container-flex {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid lightgrey;
	}
	.container-social {
		max-width: 100%;
		margin-right: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.google-container {
		margin: 0 10px 10px 10px;
		width: 250px;
		height: 100px;
		border: 1px solid lightgrey;
		align-items: center;
		background-color: #EDEDED;
	}
	.new-members {
		width: 600px;
		height: 300px;
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
		font-weight: lighter;
		margin-right: 0 auto;
		display: flex;
		flex-direction: column;
	}
	.recent-activity {
		width: 600px;
		height: 300px;
		font-weight: lighter;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-family: 'Open Sans', sans-serif;
		border-bottom: 1px solid lightgrey;
		font-weight: lighter;
		padding-left: 10px;
	}
	.members-flex {
		display: flex;
		flex-direction: row;
	}
	textarea {
		resize: none;
	}
	.message-settings-flex {
		display: flex;
		flex-direction: row;
	}
	.settings-div,
	.message-div {
		width: 50%;
		font-family: 'Montserrat', sans-serif;
		font-weight: lighter;
		font-size: .8em;
		border-right: 1px solid lightgrey;
		text-align: center;
	}
}

@media (min-width: 1024px) {

}
	


