* {
  box-sizing: border-box;
}

/*---- Header ----*/



.main-wrapper {
	display: flex;
	max-width: 1200px;
}

.main-header{
	background: #755AAF;
	overflow: hidden;
	padding: 5px 10px;
	z-index: 2;
	position: ;
	width: 100%;
}

.clearfix {
  overflow: auto;
}

.header-your,
.header-app {
	color: #fff;
	float: left;
	padding: 15px 0px 10px 0px;
	text-align: center;
	z-index: 2;
}

.header-app {
	font-family: 'Poiret One', sans-serif;
}

.tm-header {
	font-size: 8px;
}

.header-avatar {
	float: right;
	padding: 10px;
	width: 130px;
	border-left: 2px solid #3e4374;
}

.name-header {
	float: right;
	padding-top: 7px;
	color: #fff;
	font-size: 12px;
	font-family: 'Poiret One', sans-serif;
}

.bell-container {
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
}

.profile-image {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-right: 5px;
	padding-top: 2px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*---- Navigation ----*/

.sidebar {
	width: 70px;
	background: #535997;
}

nav {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

nav a {
	width: 70px;
	height: 70px;
}

nav img {
	margin-left: 10px;
	width: 30px;
	height: 30px;
	color: #C7C2C2;
}

/*---- Header Icons ----*/

.bell {
	width: 17px;
	height: 17px;
	margin-top: 16px;
}

.bell-circle {
	border-radius: 50%;
	width:5px;
	height:5px;
	float: right;
	margin-top: 10px;
	margin-right: 25px;
	background-color: #61ED66;
}

/*---- Traffic Dashboard ----*/

fieldset {

}

#name {
  float: right;
  width: 300px;
}

.dashboard {
  font-family: 'Roboto', sans-serif;
}

.dashboard-text {
  color: grey;
  text-align: left;
  max-width: 97%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  line-height: 10px;
}

.alert {
  border: 1px solid #3e4374;
  text-align: left;
  background-color: #755AAF;
  color: #fff;
  max-width: 97%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  line-height: 30px;
}

.text-alert {
  padding-left: 5px;
}

.text-welcome {
  font-family: 'Poiret One', sans-serif;
  font-size: 15px;
  padding-left: 5px;
}

.closebtn {
  float: right;
  padding-right: 5px;
}

/*---- Traffic Dashboard Chart ----*/

.container-traffic {
  max-width: 100%;
  margin-left: 70px;
  margin-top: 80px;
}

#lineChart {
  border-bottom: 1px solid lightgrey;
  margin-right: 0px;
  padding-bottom: 10px;
}

.dashboard-nav ul {
  list-style-type: none;
  float: right;
  padding-right: 5px;
  
}

.dashboard-nav a {
	font-size: 15px;
  padding: 10px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: darkgrey;
}

.dashboard-nav a:hover {
  cursor: pointer;
  background-color: #42E043;
  border-radius: 25%;
}

/*---- DAILY TRAFFIC CHART ----*/

.container-daily {
	max-width: 100%;
	margin-left: 70px;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
}

/*---- MOBILE CHART ----*/

.container-mobile {
	max-width: 100%;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
}

.container-flex {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

/*---- SOCIAL STATS ----*/

.container-social {
	max-width: 100%;
	margin-right: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}

.twitter-container {
	margin-left: 80px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
}

.twitter-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.twitter-svg-container {
	width: 60px;
	height: 60px;
	background-color: #535997;
	border-radius: 50%;
}

.twitter-logo {
	width: 30px;
	height: 30px;
	fill: #fff;
	margin-top: 20px;
}

.twitter-stats {
	float: right;
	padding-right: 40px;
}

h3 {
	font-size: .8em;
	margin: 0 auto;
	margin-top: 30px;
	color: #535997;
}

.twitter-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

.facebook-container {
	margin-left: 80px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
}

.facebook-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.facebook-svg-container {
	width: 60px;
	height: 60px;
	background-color: #535997;
	border-radius: 50%;
}

.facebook-logo {
	fill: #fff;
}

.facebook-stats {
	float: right;
	padding-right: 50px;
}

h3 {
	font-size: .8em;
	margin: 0 auto;
	margin-top: 30px;
	color: #535997;
}

.facebook-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

.google-container {
	margin-left: 80px;
	width: 250px;
	height: 100px;
	border: 1px solid lightgrey;
	align-items: center;
	background-color: #EDEDED;
	margin-bottom: 10px;
	margin-right: 10px;
}

.google-graphics-container {
	width: 200px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}

.google-svg-container {
	width: 60px;
	height: 60px;
	background-color: #535997;
	border-radius: 50%;
}

.google-logo {
	width: 30px;
	height: 30px;
	fill: #fff;
	margin-top: 15px;
}

.google-stats {
	float: right;
	padding-right: 50px;
}

h3 {
	font-size: .8em;
	margin: 0 auto;
	margin-top: 30px;
	color: #535997;
}

.google-followers {
	font-size: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	opacity: .7;
}

/*---- New Members and Recent Activity ----*/

.new-members {	
	max-width: 100%;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	font-weight: lighter;
	margin-left: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
}

.recent-activity {
	max-width: 100%;
	margin-left: 70px;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
}

.member-profile {
	margin: 0 20px 10px 20px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid lightgrey;
}

.member-last-profile {
	float: left;
	margin: 0 20px 10px 20px;
	display: flex;
	flex-direction: row;
	border-bottom: none;
}

.pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

#members-text,
#activity-text {
	margin-bottom: 20px;
	margin-left: 10px;
	font-weight: lighter;
}

.date {
	float: right;
}

.name {
	margin: 0 auto;
}

.email {
	text-decoration: none;
	color: #3e4374;
}

.time {
	margin: 0 auto;
}

/*---- Search ----*/

.message {
	max-width: 50%;
	margin-left: 70px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: .8em;
	border: 1px solid lightgrey;
}

span {
	float: left;

}
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 0px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="search"],
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  opacity: 1;
  transition: 1s;
}

fieldset {
  margin-bottom: ;
  border: none;
}

.textarea {
	max-width: 100%;
}

/*---- Media ----*/

 @media (min-width: 768px) {
	.container-daily {
		width: 50%;
		border-bottom: none;
	}
	.container-mobile {
		width: 50%;
		border-left: 1px solid lightgrey;
		border-bottom: none;
	}
	.container-flex {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid lightgrey;
	}
	.container-social {
		max-width: 100%;
		margin-right: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.new-members {
		max-width: 100%;
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
		font-weight: lighter;
		margin-right: 0 auto;
		margin-left: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-family: 'Open Sans', sans-serif;
	}
	.recent-activity {
		font-weight: lighter;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-family: 'Open Sans', sans-serif;
	}
	.members-flex {
		max-width: 100%;
		margin-right: 0 auto;
		border-bottom: 1px solid lightgrey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	textarea {
		resize: none;
	}
}
	


